#diagramContainer {
width:100%;
height: 1500px;
border: 1px solid gray;
}

/*全体部分　共通設定スタイル*/
.all-style0 {
word-wrap: break-word;
float: left; 
margin-right: 10px; 
//margin-left: 20px; 
margin-bottom: 10px; 
border-collapse: separate;
border-spacing: 3px;
//font-size: 180%;
//line-height: 120%;
//overflow: scroll;
//position: absolute;
//opacity: 0.8;
}

/*タグ部分　共通設定スタイル*/
/*view.phpの高低が優先されているっぽい*/
.all-style1 {
word-wrap: break-word;
width: 260px;
height: 20px; 
font-size:small;
text-align: left;
//margin-right: 20px; 
border-style: solid;
padding: 10px; 
//overflow: hidden;
}

/*本文　共通設定スタイル*/
/*view.phpで高低が定義されているっぽい*/
.all-style2 {
width: 260px;
height:350px; 
background-color:#ddeeff; 
font-size: x-large;
line-height: 110%;
text-align:left;
//margin-right: 20px; 
border-style: solid;
padding: 10px; 
//overflow:hiden;
}
.all-style2::-webkit-scrollbar {
//  width: 50px;
//  height: 50px;
//  display: none;
}

/*いいね・削除ボタン　共通設定スタイル*/
.all-style3 {
width: 260px;
height: 40px; 
background-color:black;
color:white;
font-size:small;
text-align:left;
//margin-right: 20px; 
border-style: solid;
border-color: black;
padding: 10px; 
//margin-bottom: 20px;
font: white;
}




.facebook-style0 {
//width:260px; 
//height:320px; 
word-wrap: break-word;
float: left; 
//margin-right: 10px; 
//margin-bottom: 10px; 
border-collapse: separate;
border-spacing: 3px;
opacity: 0.8;
}

/*Facebookタグ部分　個別設定スタイル*/
/*以下，色以外について削除．色以外はall_style1で統一*/
.facebook-style1 {
word-wrap: break-word;
width: 260px;
height: 20px;
background-color: #1E90FF;
font-size:small;
text-align:left;
//margin-right: 10px; 
border: #1E90FF;
border-style: solid;
border-color: #1E90FF;
padding: 10px; 
font: white;
}
/*Facebook本文部分　個別設定スタイル*/
/*以下，色以外について削除．色以外はall_style2で統一*/
.facebook-style2 {
background-color:#F0FFFF; 
font-size: x-large;
text-align:left;
//margin-right: 10px; 
border: #1E90FF;
overflow: scroll;
border-style: solid;
border-color: #1E90FF;
padding: 10px; 
}


/*Evernote*/
.evernote-style0 {
//width:260px; 
//height:320px; 
word-wrap: break-word;
float: left; 
//margin-right: 10px; 
//margin-bottom: 10px; 
border-collapse: separate;
border-spacing: 3px;
opacity: 0.8;
}
.evernote-style1 {
word-wrap: break-word;
width: 260px;
height: 20px;
background-color: #4E20FF;
font-size:small;
text-align:left;
//margin-right: 10px; 
border: #FE201F;
border-style: solid;
border-color: #FE902F;
padding: 10px; 
font: white;
}
.evernote-style2 {
background-color:#F0FFFF; 
font-size: x-large;
text-align:left;
//margin-right: 10px; 
border: #1E90FF;
overflow: scroll;
border-style: solid;
border-color: #1E90FF;
padding: 10px; 
}


/*Mail*/
.email-style0 {
//width:260px; 
//height:320px; 
word-wrap: break-word;
float: left; 
//margin-right: 10px; 
//margin-bottom: 10px; 
border-collapse: separate;
border-spacing: 3px;
opacity: 0.8;
}

.email-style1 {
word-wrap: break-word;
width: 260px;
height: 20px;
background-color: #1E90FF;
font-size:small;
text-align:left;
//margin-right: 10px; 
border: #1E90FF;
border-style: solid;
border-color: #1E90FF;
padding: 10px; 
font: white;
}

.email-style2 {
background-color:#F0FFFF; 
font-size: x-large;
text-align:left;
//margin-right: 10px; 
border: #1E90FF;
overflow: scroll;
border-style: solid;
border-color: #1E90FF;
padding: 10px; 
}


/*Twitter*/
.twitter-style0 {
//width:260px; 
//height:320px; 
word-wrap: break-word;
float: left; 
//margin-right: 10px; 
//margin-bottom: 10px; 
border-collapse: separate;
border-spacing: 3px;
opacity: 0.8;
}

.twitter-style1 {
word-wrap: break-word;
width: 260px;
height: 20px;
background-color: #1E90FF;
font-size:small;
text-align:left;
//margin-right: 10px; 
border: #1E90FF;
border-style: solid;
border-color: #1E90FF;
padding: 10px; 
font: white;
}

.twitter-style2 {
background-color:#F0FFFF; 
font-size: x-large;
text-align:left;
//margin-right: 10px; 
border: #1E90FF;
overflow: scroll;
border-style: solid;
border-color: #1E90FF;
padding: 10px; 
}


/*Moodle-Direct*/
.moodlepost-style0 {
//width:260px; 
//height:320px; 
word-wrap: break-word;
float: left; 
//margin-right: 10px; 
//margin-bottom: 10px; 
border-collapse: separate;
border-spacing: 3px;
opacity: 0.8;
}

.moodlepost-style1 {
word-wrap: break-word;
width: 260px;
height: 20px;
background-color: #1E90FF;
font-size:small;
text-align:left;
//margin-right: 10px; 
border: #1E90FF;
border-style: solid;
border-color: #1E90FF;
padding: 10px; 
font: white;
}

.moodlepost-style2 {
background-color:#F0FFFF; 
font-size: x-large;
text-align:left;
//margin-right: 10px; 
border: #1E90FF;
overflow: scroll;
border-style: solid;
border-color: #1E90FF;
padding: 10px; 
}


/*Application*/
.camera-style0 {
//width:260px; 
//height:320px; 
word-wrap: break-word;
float: left; 
//margin-right: 10px; 
//margin-bottom: 10px; 
border-collapse: separate;
border-spacing: 3px;
opacity: 0.8;
}

.camera-style1 {
word-wrap: break-word;
width: 260px;
height: 20px;
background-color: #1E90FF;
font-size:small;
text-align:left;
//margin-right: 10px; 
border: #1E90FF;
border-style: solid;
border-color: #1E90FF;
padding: 10px; 
font: white;
}

.camera-style2 {
background-color:#F0FFFF; 
font-size: x-large;
text-align:left;
//margin-right: 10px; 
border: #1E90FF;
overflow: scroll;
border-style: solid;
border-color: #1E90FF;
padding: 10px; 
}
